@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron col-md-12">

    <h1>Teste Prático</h1>

    <div class="col-md-6">
        <p class="lead"><h2> Tecnologias utilizadas:</h2></p>
        <div style="font-size: 16px">

            <ul>
                <li>ASP.NET MVC 4</li>
                <li>ASP.NET Web API</li>
                <li>SQL Server Express</li>
                <li>Entity Framework 6</li>
                <li>Ninject</li>
                <li>Typescript</li>
            </ul>
        </div>
    </div>

    <div class="col-md-6">

        <p class="lead"><h2>Padrões de Projeto utilizados:</h2></p>
        <div style="font-size: 16px">

            <ul>
                <li>Repository</li>
                <li>Unit of Work</li>
                <li>Domain Driven Design(Value Object e Classe não Anêmica)</li>
                <li>TDD</li>
            </ul>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
