@model NDEngenharia.Models.ClienteViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-primary">

    <div class="panel-heading">
        <h4>Controle de Cliente</h4>
    </div>

    <div class="panel-body">

        <section id="section-pesquisa" style="padding: 10px">

            <div class="col-md-6 col-md-offset-3">
                @Html.Label("Pesquisar pelo Nome", new { @for = "Nome" })
                @Html.TextBox("NomeSearch", "", new { @class = "form-control", id = "NomeSearch" })

            </div>

            <button class="btn btn-success" style="margin-top: 25px" title="Novo Cliente" type="button" onclick="window.location.href='/Cliente/Novo'">
                <span class="glyphicon glyphicon-plus"></span>
            </button>

        </section>

    </div>

    <section style="padding: 15px">

        <table id="clientesTable" class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Logradouro</th>
                    <th>Numero</th>
                    <th>CEP</th>
                    <th>Referencia</th>
                    <th class="text-center" style="width: 95px">Ações</th>
                </tr>
            </thead>
            <tbody id="clientesBody">
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </section>

    <div class="panel-footer">Panel footer</div>
</div>

@section scripts{

    <script src="~/Scripts/require.js" data-main="@Url.Content("~/Scripts/App/app.js")" defer></script>

}