@model NDEngenharia.Models.ClienteViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-primary">

    <div class="panel-heading">
        <h4>Controle de Cliente</h4>
    </div>

    <div class="panel-body">

        <section id="section-pesquisa" style="padding: 10px">

            <div class="col-md-6 col-md-offset-3">
                @Html.Label("Pesquisar pelo Nome", new { @for = "Nome" })
                @Html.TextBox("NomeSearch", "", new { @class = "form-control", id = "NomeSearch" })

            </div>

            <button class="btn btn-success" style="margin-top: 25px" title="Novo Cliente" type="button" onclick="window.location.href='/Cliente/Novo'">
                <span class="glyphicon glyphicon-plus"></span>
            </button>

        </section>

    </div>

    <section style="padding: 15px">

        <table id="clientesTable" class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Logradouro</th>
                    <th>Número</th>
                    <th>CEP</th>
                    <th>Referência</th>
                    <th class="text-center" style="width: 95px">Ações</th>
                </tr>
            </thead>
            <tbody id="clientesBody">
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </section>

    <div class="panel-footer">Panel footer</div>
</div>

<div class="modal fade" id="modalDeletar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirmação de remoção</h4>
            </div>
            <div class="modal-body">
                <div id="mensagemDeletar"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="removerCliente">Deletar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/require.js" data-main="@Url.Content("~/Scripts/App/app.js")" defer></script>

}